# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\03-主流框架\SSM框架\最新版SSM（IDEA全套）\04-Spring\源码\mimissm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
